# ExchangeRate Coding Challange-Part2

Perform some data analysis
    Find the best and worst exchange rates for that time period
    Calculate the average exchange rate for the month

# Open Generated File and perform Analsyis

In [1]:
import os
import json
output_folder = 'data'
file_path = os.path.join(output_folder, 'exchange_rates_final.json')
with open(file_path, 'r') as file:
        exchange_data = json.load(file)

# Get Best and Worst Exchange Rate

In [14]:
import pandas as pd

df = pd.DataFrame(exchange_data)

In [15]:
df['aud_rate'] = df['rates'].apply(lambda x: x['AUD'])
df['nzd_rate'] = df['rates'].apply(lambda x: x['NZD'])
#df.drop('rates', axis=1, inplace=True)
df = df[['date', 'aud_rate', 'nzd_rate']]
df['aud_to_nzd'] = df['nzd_rate'] / df['aud_rate']

In [16]:
df

          date  aud_rate  nzd_rate  aud_to_nzd
0   2024-02-24  1.652730  1.748208    1.057770
1   2024-02-25  1.648070  1.748957    1.061215
2   2024-02-26  1.659325  1.759800    1.060552
3   2024-02-27  1.657121  1.757550    1.060605
4   2024-02-28  1.668915  1.778039    1.065386
5   2024-02-29  1.662696  1.775517    1.067854
6   2024-03-01  1.660421  1.777047    1.070239
7   2024-03-02  1.660421  1.777047    1.070239
8   2024-03-03  1.660996  1.776466    1.069519
9   2024-03-04  1.668081  1.780606    1.067458
10  2024-03-05  1.669009  1.783090    1.068353
11  2024-03-06  1.659915  1.778777    1.071607
12  2024-03-07  1.653805  1.772325    1.071665
13  2024-03-08  1.647306  1.772383    1.075928
14  2024-03-09  1.647306  1.772383    1.075928
15  2024-03-10  1.651980  1.770987    1.072039
16  2024-03-11  1.652396  1.771560    1.072116
17  2024-03-12  1.653860  1.777041    1.074481
18  2024-03-13  1.652773  1.776883    1.075092
19  2024-03-14  1.654169  1.777054    1.074288
20  2024-03-15  1.660622  1.791058    1.078546
21  2024-03-16  1.660622  1.791058    1.078546
22  2024-03-17  1.659481  1.787937    1.077407
23  2024-03-18  1.658387  1.787793    1.078031
24  2024-03-19  1.664549  1.796004    1.078973
25  2024-03-20  1.657748  1.796158    1.083493
26  2024-03-21  1.652757  1.796599    1.087032
27  2024-03-22  1.667243  1.811810    1.086710
28  2024-03-23  1.667243  1.811810    1.086710
29  2024-03-24  1.658670  1.804381    1.087848
30  2024-03-25  1.657055  1.802069    1.087513

#Get the best conversion rate

In [18]:
max_index = df['aud_to_nzd'].idxmax()
best_date = df.loc[max_index, 'date']
best_rate = df.loc[max_index, 'aud_to_nzd']
best_rate_rounded = round(best_rate, 4)
print(f"Best Rate in Last 30 days for AUD to NZD is :: {best_rate_rounded} on date :: {best_date}")

Best Rate in Last 30 days is :: 1.0878 on date :: 2024-03-24

#Get the Worst conversion rate

In [19]:
min_index = df['aud_to_nzd'].idxmin()
worst_date = df.loc[min_index, 'date']
worst_rate = df.loc[min_index, 'aud_to_nzd']
worst_rate_rounded = round(worst_rate, 4)
print(f"worst Rate in Last 30 days for AUD to NZD is :: {worst_rate_rounded} on date :: {worst_date}")

worst Rate in Last 30 days for AUD to NZD is :: 1.0578 on date :: 2024-02-24

# Get the Average Rate

In [21]:
# Get the Average Rate 
average_ratio = df['aud_to_nzd'].mean()
avg_ratio_rounded = round(average_ratio, 5)
print("Average AUD to NZD Ratio on last 30 days:", avg_ratio_rounded)

Average AUD to NZD Ratio on last 30 days: 1.07397